.App {
  text-align: center;
  background-color: #F5F5F5;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}


.App-header {
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: white;
  position: sticky;
  top: 0;
}

.App-link {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

.Waitlist-button{
  background-color: #073763;
  padding: 10px;
  border-radius: 10px;
}

.Waitlist-button-div{
  margin:30px;
}

.Waitlist-button-div2{
  margin-top:20px;
  margin-bottom: 3em;
}

.Title{
  font-family: 'Trebuchet MS';
  font-size: 2em;
  color: #073763;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 12px;
}

.Header-div{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Tag-line{
  font-family: 'Trebuchet MS';
  font-size: 4em;
  font-weight: 300;
  margin: 0 64px 20px 64px;
}

.Tag-line-div{
  margin: 128px 0 28px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

p{
  font-size: 20px;
}
.Audit-button{
  background-color: #073763;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}

.banner{
  max-width: 100%;
  margin: 128px 0 128px 0;
}

.section-2, .section-3{
  margin: 128px 0 128px 0;
}
.Stats-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Stats-div-title{
  font-family: 'Trebuchet MS';
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 60px;
}

.Stats-div-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 12px;
  max-width: 50%;
}

.stats-star{
  font-size: 4em;
  color: #073763;
  margin: 0;
}

.Stats-div-item-text{
  font-family: 'Trebuchet MS';
  font-size: 1.5em;
  width: 300px;
  margin-top: 20px;
  text-align: left;
}

.Merchant-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
}

.Merchant-div-image{
  max-width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}

.Merchant-div-text{
  margin-left: 24px;
  margin-right: 48px;
  font-family: 'Trebuchet MS';
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 32px;
  text-align: left;
}   

.Merchant-div-text a{
  color: #073763;
}

.Merchant-div-title{
  font-family: 'Trebuchet MS';
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 54px;
  margin-left: 12px;
}

.logo-large{
  max-width: 5%;
}

.large-button{
  font-size: 1.5em;
}

.release-date{
  font-family: 'Trebuchet MS';
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 48px;
  margin-top: 12px;
  margin-left: 12px;
}

.footer{
  background-color: white;
  padding-top: 30px;
  margin-top: -6px;
}

.Footer-text{
  font-family: 'Trebuchet MS';
  font-size: 1em;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 0;
  padding-bottom: 12px;
  margin-left: 12px;
}

.Test-audit-page{
  width: 100%;
  height: 90vh;
  border: none;
}

.contactUs{
  text-align: center;
}

.contactUs p{
  text-align: center;
}

@media (max-width: 768px) {
  .section-2, .section-3 {
    min-width: 300px; /* Ensure minimum width on smaller screens */
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .Stats-div {
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: center; /* Center items */
  }

  .Stats-div-item, .Stats-div-item-text {
    max-width: 100%; /* Allow items to take full width on small screens */
    margin: 12px 0; /* Adjust margin for better spacing */
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }

  .Merchant-div {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items */
  }
  
  .Merchant-div2{
    flex-direction: column-reverse;
  }

  .logo-large{
    max-width: 10%;
  }

  .Merchant-div-text{
    font-size: 18px;
  }

  .Merchant-div-image {
    max-width: 80%; /* Adjust image size for smaller screens */
    margin: 0; /* Remove side margins */
  }
  h2 {
    font-size: 1.5em; /* Adjust h2 size for smaller screens */
  }

  p {
    font-size: 16px;
    margin:auto;
  }

  .Title {
    font-size: 1.5em; /* Adjust Title size for smaller screens */
  }

  .Tag-line {
    font-size: 3em; /* Adjust Tag-line size for smaller screens */
  }

  .Stats-div-title {
    font-size: 2.5em; /* Adjust Stats-div-title size for smaller screens */
  }

  .Merchant-div-title {
    font-size: 2em; /* Adjust Merchant-div-title size for smaller screens */
  }

  .release-date {
    font-size: 1.5em; /* Adjust release-date size for smaller screens */
  }

  .Footer-text {
    font-size: 0.9em; /* Adjust Footer-text size for smaller screens */
  }
}