.App {
  text-align: center;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.Waitlist-button{
  background-color: #073763;
  padding: 20px;
  border-radius: 10px;
}

.Title{
  font-family: 'Trebuchet MS';
  font-size: 2em;
  color: #073763;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 12px;
}

.Header-div{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.Tag-line{
  font-family: 'Trebuchet MS';
  font-size: 2em;
  color: #073763;
  font-weight: 300;
}
